body {
  font-family: 'Arial', sans-serif;
  background: #f7cee1; 
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.95); /* Fundo branco semi-transparente */
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Sombra suave */
  padding: 20px;
  width: 80%;
  max-width: 400px;
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #cf2a2a; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

button {
  background-color: #ff6f61; /* Laranja */
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 12px 24px;
  margin: 10px;
  cursor: pointer;
  font-size: 1.4rem;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ff4837; /* Laranja mais escuro */
}

p {
  font-size: 1.6rem;
  margin-bottom: 10px;
  color: #333;
}

.score {
  font-size: 2rem;
  margin-top: 10px;
  color: #555;
}

img {
  max-width: 150px;
  max-height: 150px;
  margin: 15px;
  transition: transform 0.3s ease;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.4));
}


img:hover {
  transform: rotate(10deg) scale(1.1);
}
